In [1]:
import pandas as pd
import plotly.graph_objects as go

In [2]:
d = pd.read_csv("../assets/data/births.csv")

In [13]:
sexValues = ['total']
placeOptions = ['AUS', 'BGR']

sexValue = 'female'

In [12]:
d2 = d.loc[
    (d['sex'].isin(sexValues) & d['cntry'].isin(placeOptions)),
    ['country', 'year', 'sex', 'number_of_births']
]
d2.head()

      country  year    sex  number_of_births
2   Australia  1860  total             47726
5   Australia  1861  total             48908
8   Australia  1862  total             51379
11  Australia  1863  total             51367
14  Australia  1864  total             55446

The .isin() method only works with lists as arguments. If a string or number is passed then it will not work.

In [16]:
type(sexValue)

str

In [17]:
type(sexValues)

list

In the code below sexValue, a string, is wrapped in [] to make it list, and so appropriate for the .isin() method

Alternatively, we could consider forcing sexValue to always be a string, so that only one sex is returned at a time? This would prevent the length of years being twice as long as the number of unique years?

In [19]:
d3 = d.loc[
    (d['sex'].isin([sexValue]) & d['cntry'].isin(placeOptions)),
    ['country', 'year', 'sex', 'number_of_births']
]
d3.head()

      country  year     sex  number_of_births
0   Australia  1860  female             23262
3   Australia  1861  female             23806
6   Australia  1862  female             24896
9   Australia  1863  female             25134
12  Australia  1864  female             26838

Now want to know how to turn the contents into lists or strings

In [24]:
d4 = d3.pivot(index = ['year', 'sex'], columns = 'country', values = 'number_of_births').reset_index()

This is okay except it has a country column which is really an index. However for the purposes of creating series this should be fine..

In [28]:
yearSeries = d4['year'].tolist()
yearSeries

[1860,
 1861,
 1862,
 1863,
 1864,
 1865,
 1866,
 1867,
 1868,
 1869,
 1870,
 1871,
 1872,
 1873,
 1874,
 1875,
 1876,
 1877,
 1878,
 1879,
 1880,
 1881,
 1882,
 1883,
 1884,
 1885,
 1886,
 1887,
 1888,
 1889,
 1890,
 1891,
 1892,
 1893,
 1894,
 1895,
 1896,
 1897,
 1898,
 1899,
 1900,
 1901,
 1902,
 1903,
 1904,
 1905,
 1906,
 1907,
 1908,
 1909,
 1910,
 1911,
 1912,
 1913,
 1914,
 1915,
 1916,
 1917,
 1918,
 1919,
 1920,
 1921,
 1922,
 1923,
 1924,
 1925,
 1926,
 1927,
 1928,
 1929,
 1930,
 1931,
 1932,
 1933,
 1934,
 1935,
 1936,
 1937,
 1938,
 1939,
 1940,
 1941,
 1942,
 1943,
 1944,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021]

The tilde ~ symbol negates the outputs, so false becomes true and vice versa.

In [35]:

~d4.columns.isin(['year', 'sex'])

array([False, False,  True,  True])

The number of years will be a multiple of the number of unique years, if there is more than one unique sex.

Could it be that .to_dict() will do the majority of the work I need it to?

In [37]:
s1 = d4.to_dict()

In [38]:
s1.get('year')

{0: 1860,
 1: 1861,
 2: 1862,
 3: 1863,
 4: 1864,
 5: 1865,
 6: 1866,
 7: 1867,
 8: 1868,
 9: 1869,
 10: 1870,
 11: 1871,
 12: 1872,
 13: 1873,
 14: 1874,
 15: 1875,
 16: 1876,
 17: 1877,
 18: 1878,
 19: 1879,
 20: 1880,
 21: 1881,
 22: 1882,
 23: 1883,
 24: 1884,
 25: 1885,
 26: 1886,
 27: 1887,
 28: 1888,
 29: 1889,
 30: 1890,
 31: 1891,
 32: 1892,
 33: 1893,
 34: 1894,
 35: 1895,
 36: 1896,
 37: 1897,
 38: 1898,
 39: 1899,
 40: 1900,
 41: 1901,
 42: 1902,
 43: 1903,
 44: 1904,
 45: 1905,
 46: 1906,
 47: 1907,
 48: 1908,
 49: 1909,
 50: 1910,
 51: 1911,
 52: 1912,
 53: 1913,
 54: 1914,
 55: 1915,
 56: 1916,
 57: 1917,
 58: 1918,
 59: 1919,
 60: 1920,
 61: 1921,
 62: 1922,
 63: 1923,
 64: 1924,
 65: 1925,
 66: 1926,
 67: 1927,
 68: 1928,
 69: 1929,
 70: 1930,
 71: 1931,
 72: 1932,
 73: 1933,
 74: 1934,
 75: 1935,
 76: 1936,
 77: 1937,
 78: 1938,
 79: 1939,
 80: 1940,
 81: 1941,
 82: 1942,
 83: 1943,
 84: 1944,
 85: 1945,
 86: 1946,
 87: 1947,
 88: 1948,
 89: 1949,
 90: 1950,
 91: 1951,
 92: 1952,
 93: 1953,
 94: 1954,
 95: 1955,
 96: 1956,
 97: 1957,
 98: 1958,
 99: 1959,
 100: 1960,
 101: 1961,
 102: 1962,
 103: 1963,
 104: 1964,
 105: 1965,
 106: 1966,
 107: 1967,
 108: 1968,
 109: 1969,
 110: 1970,
 111: 1971,
 112: 1972,
 113: 1973,
 114: 1974,
 115: 1975,
 116: 1976,
 117: 1977,
 118: 1978,
 119: 1979,
 120: 1980,
 121: 1981,
 122: 1982,
 123: 1983,
 124: 1984,
 125: 1985,
 126: 1986,
 127: 1987,
 128: 1988,
 129: 1989,
 130: 1990,
 131: 1991,
 132: 1992,
 133: 1993,
 134: 1994,
 135: 1995,
 136: 1996,
 137: 1997,
 138: 1998,
 139: 1999,
 140: 2000,
 141: 2001,
 142: 2002,
 143: 2003,
 144: 2004,
 145: 2005,
 146: 2006,
 147: 2007,
 148: 2008,
 149: 2009,
 150: 2010,
 151: 2011,
 152: 2012,
 153: 2013,
 154: 2014,
 155: 2015,
 156: 2016,
 157: 2017,
 158: 2018,
 159: 2019,
 160: 2020,
 161: 2021}

In [43]:
d4['sex'].drop_duplicates().values

array(['female'], dtype=object)

In [48]:
d4.head()
d5 = d4.drop(['year', 'sex'], axis=1)
d5.head()

country  Australia  Bulgaria
0          23262.0       NaN
1          23806.0       NaN
2          24896.0       NaN
3          25134.0       NaN
4          26838.0       NaN

With just the two countries it looks like .to_dict() will return the kind of output I want, maybe... though not sure about the index as the key within the dict..

In [51]:
d5.to_dict()

{'Australia': {0: 23262.0,
  1: 23806.0,
  2: 24896.0,
  3: 25134.0,
  4: 26838.0,
  5: 27986.0,
  6: 27457.0,
  7: 28922.0,
  8: 29896.0,
  9: 29527.0,
  10: 30437.0,
  11: 30921.0,
  12: 31589.0,
  13: 32561.0,
  14: 32809.0,
  15: 32970.0,
  16: 33903.0,
  17: 34041.0,
  18: 35321.0,
  19: 37203.0,
  20: 37757.0,
  21: 38884.0,
  22: 39600.0,
  23: 41533.0,
  24: 44392.0,
  25: 46210.0,
  26: 47227.0,
  27: 49309.0,
  28: 50888.0,
  29: 50678.0,
  30: 53384.0,
  31: 53758.0,
  32: 53699.0,
  33: 53125.0,
  34: 50957.0,
  35: 51184.0,
  36: 48979.0,
  37: 49440.0,
  38: 48041.0,
  39: 49209.0,
  40: 49881.0,
  41: 50436.0,
  42: 50160.0,
  43: 48037.0,
  44: 50755.0,
  45: 51046.0,
  46: 52376.0,
  47: 53858.0,
  48: 54432.0,
  49: 55589.0,
  50: 56595.0,
  51: 59685.0,
  52: 65066.0,
  53: 66280.0,
  54: 67379.0,
  55: 65822.0,
  56: 63921.0,
  57: 63082.0,
  58: 61281.0,
  59: 59359.0,
  60: 66150.0,
  61: 66159.0,
  62: 66914.0,
  63: 65857.0,
  64: 66127.0,
  65: 66250.0,
  66: 64740.0,
  67: 64818.0,
  68: 64926.0,
  69: 62857.0,
  70: 62516.0,
  71: 57488.0,
  72: 53958.0,
  73: 54109.0,
  74: 53627.0,
  75: 54433.0,
  76: 56679.0,
  77: 58226.0,
  78: 58523.0,
  79: 59838.0,
  80: 61752.0,
  81: 65564.0,
  82: 66481.0,
  83: 72942.0,
  84: 75002.0,
  85: 78103.0,
  86: 85411.0,
  87: 88566.0,
  88: 86665.0,
  89: 88515.0,
  90: 92761.0,
  91: 93897.0,
  92: 98269.0,
  93: 98736.0,
  94: 98701.0,
  95: 101227.0,
  96: 102544.0,
  97: 107121.0,
  98: 108547.0,
  99: 110735.0,
  100: 111911.0,
  101: 116874.0,
  102: 114971.0,
  103: 114553.0,
  104: 111087.0,
  105: 108388.0,
  106: 108653.0,
  107: 111616.0,
  108: 117279.0,
  109: 121905.0,
  110: 125544.0,
  111: 135248.0,
  112: 128960.0,
  113: 120701.0,
  114: 118882.0,
  115: 113012.0,
  116: 110761.0,
  117: 110070.0,
  118: 109763.0,
  119: 108462.0,
  120: 110192.0,
  121: 115511.0,
  122: 116038.0,
  123: 118256.0,
  124: 118256.0,
  125: 118886.0,
  126: 118641.0,
  127: 118856.0,
  128: 122483.0,
  129: 124089.0,
  130: 127810.0,
  131: 125601.0,
  132: 128743.0,
  133: 127177.0,
  134: 127504.0,
  135: 126674.0,
  136: 125288.0,
  137: 124546.0,
  138: 123631.0,
  139: 125036.0,
  140: 124627.0,
  141: 122483.0,
  142: 123572.0,
  143: 123285.0,
  144: 123566.0,
  145: 131015.0,
  146: 134102.0,
  147: 141355.0,
  148: 143081.0,
  149: 143981.0,
  150: 145052.0,
  151: 145635.0,
  152: 149578.0,
  153: 148279.0,
  154: 149847.0,
  155: 147656.0,
  156: 150156.0,
  157: 145176.0,
  158: 143845.0,
  159: 143145.0,
  160: 138666.0,
  161: nan},
 'Bulgaria': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: nan,
  7: nan,
  8: nan,
  9: nan,
  10: nan,
  11: nan,
  12: nan,
  13: nan,
  14: nan,
  15: nan,
  16: nan,
  17: nan,
  18: nan,
  19: nan,
  20: nan,
  21: nan,
  22: nan,
  23: nan,
  24: nan,
  25: nan,
  26: nan,
  27: nan,
  28: nan,
  29: nan,
  30: nan,
  31: nan,
  32: nan,
  33: nan,
  34: nan,
  35: nan,
  36: nan,
  37: nan,
  38: nan,
  39: nan,
  40: nan,
  41: nan,
  42: nan,
  43: nan,
  44: nan,
  45: nan,
  46: nan,
  47: nan,
  48: nan,
  49: nan,
  50: nan,
  51: nan,
  52: nan,
  53: nan,
  54: nan,
  55: nan,
  56: nan,
  57: nan,
  58: nan,
  59: nan,
  60: nan,
  61: nan,
  62: nan,
  63: nan,
  64: nan,
  65: nan,
  66: nan,
  67: nan,
  68: nan,
  69: nan,
  70: nan,
  71: nan,
  72: nan,
  73: nan,
  74: nan,
  75: nan,
  76: nan,
  77: nan,
  78: nan,
  79: nan,
  80: nan,
  81: nan,
  82: nan,
  83: nan,
  84: nan,
  85: nan,
  86: nan,
  87: 82390.0,
  88: 85122.0,
  89: 85835.0,
  90: 88297.0,
  91: 74276.0,
  92: 74682.0,
  93: 73994.0,
  94: 72496.0,
  95: 73478.0,
  96: 71668.0,
  97: 68781.0,
  98: 67226.0,
  99: 66453.0,
  100: 67867.0,
  101: 66617.0,
  102: 65314.0,
  103: 64099.0,
  104: 63511.0,
  105: 60985.0,
  106: 59575.0,
  107: 60420.0,
  108: 68840.0,
  109: 69594.0,
  110: 66921.0,
  111: 65643.0,
  112: 63540.0,
  113: 68056.0,
  114: 72489.0,
  115: 70316.0,
  116: 70247.0,
  117: 68869.0,
  118: 66394.0,
  119: 65450.0,
  120: 62118.0,
  121: 60218.0,
  122: 60211.0,
  123: 59951.0,
  124: 59243.0,
  125: 58016.0,
  126: 58728.0,
  127: 56925.0,
  128: 56939.0,
  129: 54700.0,
  130: 51152.0,
  131: 46411.0,
  132: 43175.0,
  133: 40914.0,
  134: 38904.0,
  135: 35165.0,
  136: 34952.0,
  137: 30821.0,
  138: 31715.0,
  139: 35233.0,
  140: 35897.0,
  141: 33055.0,
  142: 32002.0,
  143: 32689.0,
  144: 33860.0,
  145: 34597.0,
  146: 35870.0,
  147: 36527.0,
  148: 37726.0,
  149: 39644.0,
  150: 36677.0,
  151: 34313.0,
  152: 33459.0,
  153: 32534.0,
  154: 32850.0,
  155: 31881.0,
  156: 31609.0,
  157: 31168.0,
  158: 30053.0,
  159: 30023.0,
  160: 28714.0,
  161: 28605.0}}

would to_list work any better? 
Can't do: there is no .to_list() method. 

Though there is a to_json() method

In [52]:
j1 = d4.to_json()

In [54]:
d2 = d4.to_dict()

In [55]:
d2.keys()

dict_keys(['year', 'sex', 'Australia', 'Bulgaria'])

Australia and Bulgaria are separate columns. They should be placed in a dict called countries

In [60]:
d2.get('year')

{0: 1860,
 1: 1861,
 2: 1862,
 3: 1863,
 4: 1864,
 5: 1865,
 6: 1866,
 7: 1867,
 8: 1868,
 9: 1869,
 10: 1870,
 11: 1871,
 12: 1872,
 13: 1873,
 14: 1874,
 15: 1875,
 16: 1876,
 17: 1877,
 18: 1878,
 19: 1879,
 20: 1880,
 21: 1881,
 22: 1882,
 23: 1883,
 24: 1884,
 25: 1885,
 26: 1886,
 27: 1887,
 28: 1888,
 29: 1889,
 30: 1890,
 31: 1891,
 32: 1892,
 33: 1893,
 34: 1894,
 35: 1895,
 36: 1896,
 37: 1897,
 38: 1898,
 39: 1899,
 40: 1900,
 41: 1901,
 42: 1902,
 43: 1903,
 44: 1904,
 45: 1905,
 46: 1906,
 47: 1907,
 48: 1908,
 49: 1909,
 50: 1910,
 51: 1911,
 52: 1912,
 53: 1913,
 54: 1914,
 55: 1915,
 56: 1916,
 57: 1917,
 58: 1918,
 59: 1919,
 60: 1920,
 61: 1921,
 62: 1922,
 63: 1923,
 64: 1924,
 65: 1925,
 66: 1926,
 67: 1927,
 68: 1928,
 69: 1929,
 70: 1930,
 71: 1931,
 72: 1932,
 73: 1933,
 74: 1934,
 75: 1935,
 76: 1936,
 77: 1937,
 78: 1938,
 79: 1939,
 80: 1940,
 81: 1941,
 82: 1942,
 83: 1943,
 84: 1944,
 85: 1945,
 86: 1946,
 87: 1947,
 88: 1948,
 89: 1949,
 90: 1950,
 91: 1951,
 92: 1952,
 93: 1953,
 94: 1954,
 95: 1955,
 96: 1956,
 97: 1957,
 98: 1958,
 99: 1959,
 100: 1960,
 101: 1961,
 102: 1962,
 103: 1963,
 104: 1964,
 105: 1965,
 106: 1966,
 107: 1967,
 108: 1968,
 109: 1969,
 110: 1970,
 111: 1971,
 112: 1972,
 113: 1973,
 114: 1974,
 115: 1975,
 116: 1976,
 117: 1977,
 118: 1978,
 119: 1979,
 120: 1980,
 121: 1981,
 122: 1982,
 123: 1983,
 124: 1984,
 125: 1985,
 126: 1986,
 127: 1987,
 128: 1988,
 129: 1989,
 130: 1990,
 131: 1991,
 132: 1992,
 133: 1993,
 134: 1994,
 135: 1995,
 136: 1996,
 137: 1997,
 138: 1998,
 139: 1999,
 140: 2000,
 141: 2001,
 142: 2002,
 143: 2003,
 144: 2004,
 145: 2005,
 146: 2006,
 147: 2007,
 148: 2008,
 149: 2009,
 150: 2010,
 151: 2011,
 152: 2012,
 153: 2013,
 154: 2014,
 155: 2015,
 156: 2016,
 157: 2017,
 158: 2018,
 159: 2019,
 160: 2020,
 161: 2021}

Let's go over exactly what structure I want to be returned. 

I think I should simplify again and just allow a single sex to be selected. This means I can go back to using the == operator. 

I need to make use of the pivot to provide a common series of years for all countries to be visualised. 
For graph_objects the year needs to be specified as the x trace and, for each country, a y series of the same length needs to be passed. 
There needs to be a trace for each country. 

The best outputs to return in would be something like: 

year, countries

where year is a list of length T.
And countries is a dict
where the keys are the names of the countries, and the values are series of length T, one for each country in countries.


Let's now try to model this slightly simplified scenario

Let's say

- countries are UK, France, UK
- sex is male

In [65]:
sexSelected = 'male'
countriesSelected = ['GBR_NP', "FRATNP", 'USA']

Now to do the filtering

In [66]:
d2 = d.loc[
    (d['sex'] == sexSelected) & 
    (d['cntry'].isin(countriesSelected))
    , ['country', 'year', 'number_of_births']
].pivot(index='year', columns='country', values = 'number_of_births')

d2.head()

country    France  U.K.  U.S.A.
year
1806     471786.0   NaN     NaN
1807     475716.0   NaN     NaN
1808     469623.0   NaN     NaN
1809     481934.0   NaN     NaN
1810     480912.0   NaN     NaN

In [74]:
yearSeries = d2.index.to_list()

In [75]:
countriesSeriesDict = d2.to_dict()

This returns the countries in roughly the right format. The keys are the countries. The values are the numbers; the keys of the values inside the higher level dict are the years. This means there's some redundancy/duplication in the data but it's not too bad.

In [77]:
countriesSeriesDict.get('France').values()

dict_values([471786.0, 475716.0, 469623.0, 481934.0, 480912.0, 479790.0, 457012.0, 463161.0, 513204.0, 490458.0, 500385.0, 488145.0, 471624.0, 508922.0, 494820.0, 498478.0, 500867.0, 496022.0, 507668.0, 503168.0, 511411.0, 505366.0, 501796.0, 496495.0, 496914.0, 509220.0, 483249.0, 501059.0, 508718.0, 512368.0, 504416.0, 485721.0, 495820.0, 493172.0, 489424.0, 502716.0, 506450.0, 502927.0, 492703.0, 504878.0, 496009.0, 460910.0, 482473.0, 506057.0, 489802.0, 496606.0, 494856.0, 482316.0, 473834.0, 463440.0, 488371.0, 482336.0, 496492.0, 522116.0, 489646.0, 514735.0, 510311.0, 518581.0, 516160.0, 515345.0, 516136.0, 514369.0, 503502.0, 485883.0, 482775.0, 422879.0, 494481.0, 484751.0, 489622.0, 487281.0, 494318.0, 482632.0, 479527.0, 478611.0, 469181.0, 480561.0, 477995.0, 480318.0, 479339.0, 474380.0, 465523.0, 459184.0, 451386.0, 450368.0, 428152.0, 443227.0, 437800.0, 446957.0, 436663.0, 425889.0, 441621.0, 438283.0, 431365.0, 435485.0, 425139.0, 440012.0, 434410.0, 424343.0, 419836.0, 414908.0, 414266.0, 397950.0, 408409.0, 395960.0, 398478.0, 381304.0, 386651.0, 384341.0, 304592.0, 199213.0, 161439.0, 176461.0, 207534.0, 209185.0, 432036.0, 418451.0, 391789.0, 393181.0, 387875.0, 397029.0, 394611.0, 382238.0, 386197.0, 375432.0, 384644.0, 376911.0, 371322.0, 347967.0, 347964.0, 328346.0, 322984.0, 316929.0, 314220.0, 298980.0, 274892.0, 252585.0, 281487.0, 301991.0, 310767.0, 321638.0, 433825.0, 447510.0, 447898.0, 447510.0, 441795.0, 423797.0, 421546.0, 412599.0, 416078.0, 412159.0, 413546.0, 417634.0, 415221.0, 424405.0, 419775.0, 428877.0, 425919.0, 443844.0, 449511.0, 443390.0, 442128.0, 430641.0, 427623.0, 431346.0, 436599.0, 451978.0, 450667.0, 440190.0, 411439.0, 381804.0, 369439.0, 382337.0, 378281.0, 388604.0, 410547.0, 413480.0, 409205.0, 383659.0, 389310.0, 394112.0, 399199.0, 393231.0, 395439.0, 391649.0, 391312.0, 389239.0, 381744.0, 364589.0, 364277.0, 373409.0, 377003.0, 373157.0, 378075.0, 382132.0, 397352.0, 394297.0, 389981.0, 389349.0, 393477.0, 396346.0, 407846.0, 402297.0, 406784.0, 405902.0, 410140.0, 405206.0, 404774.0, 400149.0, 399284.0, 389181.0, 381310.0, 373716.0, 369121.0, 364924.0, 356389.0, nan])

Let's now confirm this data can be used by graph_objects and traces added programmatically

In [85]:

traces = [] 
for key in countriesSeriesDict.keys():
    trace = go.Scatter(x = yearSeries, y = list(countriesSeriesDict[key].values()),
                       name = key)
    traces.append(trace)

layout = go.Layout(title = "Number of births", xaxis_title = "Year", yaxis_title = "Number of births")

fig = go.Figure(data =traces, layout = layout)

fig.show()

for reasons unknown I'm struggling to do the same with the deaths data, so let's try that too

In [8]:
d = pd.read_csv("../assets/data/deaths.csv")

placeOptions = ['AUS', 'FRATNP']

sexOption = 'total'

d2 = d.loc[
    (d['sex'] == sexOption) & 
    (d['cntry'].isin(placeOptions))
    , ['country', 'year', 'number_of_deaths']
]

d3 = d2.groupby(['country', 'year']).agg('mean').reset_index()

d4 = d3.pivot(index='year', columns='country', values = 'number_of_deaths')

d4.head()

country  Australia       France
year
1816           NaN  6519.810721
1817           NaN  6764.387297
1818           NaN  6806.730811
1819           NaN  7081.045495
1820           NaN  6930.629820