The aim of this notebook is to confirm how I can generate a list of valid populations to select from based on the data

In [4]:
import pandas as pd

dta_mx = pd.read_csv("../assets/data/Mx.csv")

dta_mx

,country,link,cntry,year,age,sex,mx
0,Australia,/Country/Country?cntr=AUS,AUS,1921,0,female,0.059987
1,Australia,/Country/Country?cntr=AUS,AUS,1921,0,male,0.076533
2,Australia,/Country/Country?cntr=AUS,AUS,1921,0,total,0.068444
3,Australia,/Country/Country?cntr=AUS,AUS,1921,1,female,0.012064
4,Australia,/Country/Country?cntr=AUS,AUS,1921,1,male,0.014339
...,...,...,...,...,...,...,...
1248745,Ukraine,/Country/Country?cntr=UKR,UKR,2013,109,male,NaN
1248746,Ukraine,/Country/Country?cntr=UKR,UKR,2013,109,total,0.654123
1248747,Ukraine,/Country/Country?cntr=UKR,UKR,2013,110,female,1.368043
1248748,Ukraine,/Country/Country?cntr=UKR,UKR,2013,110,male,NaN
1248749,Ukraine,/Country/Country?cntr=UKR,UKR,2013,110,total,1.368043

In [5]:
countries_kv = dta_mx[["country", "cntry"]].drop_duplicates().set_index('country').to_dict()['cntry']

lookupsCountries = [{'label': key, 'value': value} for key, value in countries_kv.items()]    
lookupsCountries

[{'label': 'Australia', 'value': 'AUS'},
 {'label': 'Austria', 'value': 'AUT'},
 {'label': 'Belarus', 'value': 'BLR'},
 {'label': 'Belgium', 'value': 'BEL'},
 {'label': 'Bulgaria', 'value': 'BGR'},
 {'label': 'Canada', 'value': 'CAN'},
 {'label': 'Chile', 'value': 'CHL'},
 {'label': 'Croatia', 'value': 'HRV'},
 {'label': 'Czechia', 'value': 'CZE'},
 {'label': 'Denmark', 'value': 'DNK'},
 {'label': 'Estonia', 'value': 'EST'},
 {'label': 'Finland', 'value': 'FIN'},
 {'label': 'France', 'value': 'FRATNP'},
 {'label': 'Germany', 'value': 'DEUTNP'},
 {'label': 'Greece', 'value': 'GRC'},
 {'label': 'Hong Kong', 'value': 'HKG'},
 {'label': 'Hungary', 'value': 'HUN'},
 {'label': 'Iceland', 'value': 'ISL'},
 {'label': 'Ireland', 'value': 'IRL'},
 {'label': 'Israel', 'value': 'ISR'},
 {'label': 'Italy', 'value': 'ITA'},
 {'label': 'Japan', 'value': 'JPN'},
 {'label': 'Latvia', 'value': 'LVA'},
 {'label': 'Lithuania', 'value': 'LTU'},
 {'label': 'Luxembourg', 'value': 'LUX'},
 {'label': 'Netherlands', 'value': 'NLD'},
 {'label': 'New Zealand', 'value': 'NZL_NP'},
 {'label': 'Norway', 'value': 'NOR'},
 {'label': 'Poland', 'value': 'POL'},
 {'label': 'Portugal', 'value': 'PRT'},
 {'label': 'Republic of Korea', 'value': 'KOR'},
 {'label': 'Russia', 'value': 'RUS'},
 {'label': 'Slovakia', 'value': 'SVK'},
 {'label': 'Slovenia', 'value': 'SVN'},
 {'label': 'Spain', 'value': 'ESP'},
 {'label': 'Sweden', 'value': 'SWE'},
 {'label': 'Switzerland', 'value': 'CHE'},
 {'label': 'Taiwan', 'value': 'TWN'},
 {'label': 'U.K.', 'value': 'GBR_NP'},
 {'label': 'U.S.A.', 'value': 'USA'},
 {'label': 'Ukraine', 'value': 'UKR'}]

I now want to check I can return the first value as the default selected input

In [10]:
lookupsCountries[0].get('value')

'AUS'

Let's do the same for sex

In [12]:
dta_mx.sex.drop_duplicates()

0    female
1      male
2     total
Name: sex, dtype: object

I think for sex it's less effort to hardcode it.